html,body{
    font-family: Calibri;
}

.selected{
    background: #90ccff;
}

#results{
    border: solid 1px #aaa;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
}

#searchBar, #results{
    width: 10vw;
}

#results div{
    line-height: 25px;
}